[pylint]
# https://code.visualstudio.com/docs/python/linting#_commandline-arguments-and-configuration-files
# http://pylint-messages.wikidot.com/all-messages
# https://github.com/janjur/readable-pylint-messages/blob/master/README.md
# C0111 - no docstrings in module - http://pylint-messages.wikidot.com/messages:c0111
disable = C0111
